* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 50px 200px auto 50px;

}

.slogan {
   grid-column: 1/-1;
   text-align: center;
   justify-self:center;
    align-self:center;
}

header {
    background-color: aliceblue;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    position: sticky;
    top: 0;
    border-bottom: 1px rgb(149, 154, 150) solid;
}

header img {
    width: 30px;
    height: 30px;
}

header nav {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
footer {
    background-color: aliceblue;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: green;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-items: center;
    padding: 16px 16px 32px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
    position: sticky;
    top: 50px;
    height: fit-content;
}

aside img {
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: black;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

i {
    font-size: 30px;
}

.facebook {
    color: #0765ff;
}

.linkedin {
    color: #0765ff;
}

.guthub {
    color: black;
}


