* {
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 50px 200px 700px 50px;

}

.slogan {
   grid-column: 1/-1;
   text-align: center;
   justify-self:center;
    align-self:center;
}

header {
    background-color: aliceblue;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

header img {
    width: 30px;
    height: 30px;
}

header nav {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
footer {
    background-color: aliceblue;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: green;
    grid-column: span 2;
}

aside {
    background-color: blueviolet;
}

a {
    text-decoration: none;
    color: black;
}